---
import Header from "../components/header.astro";
import MetaHead from "../components/metaHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PanelView from "./panelView.astro";
---

<html lang="en">
  <head>
    <MetaHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="flex flex-row flex-nowrap h-full w-screen">
      <PanelView />
      <slot name="content" />
    </div>
  </body>
</html>
