---
import MdView from "../components/mdView.astro";
import Footer from "../components/footer.astro";
---

<div class="bg-emerald-100 w-full flex flex-col items-center">
  <MdView />
  <Footer />
</div>
